<section class="short_page " id="about">  
	<div class="left " id="about_text">      
		<div class="margintop20 featured">
			<h3>ABOUT</h3>
		</div>
	
		<h1 class="closed_txt marginleft10"><a href="#">ABOUT ME</a></h1>
		<div class="marginleft10 jtext">
		<p> I am Richard Tirta Widjaja, a New Media Designer based in San Francisco and Jakarta. Currently, I just finished my BFA degree in Web Design and New Media in the Academy of Art University San Francisco and I am ready to solve all creative problems.</p>

		<p>I am a designer with passion in creative solutions for everyone. That includes interactive web, UI, UX, graphic design, motion graphics and photography. I consider myself as a resourceful and knowledgeable designer who always keeps up to date with latest innovation while paying homage to traditional solutions.</p>
	</div>
	
	<h1 class="closed_txt marginleft10"><a href="#">ABOUT CROSS COMMUNICATION AND NEW MEDIA</a></h1>
	<div class="marginleft10 jtext">
		<p>In today's modern world, businesses are struggling to get their customers to pay attention to their brands and products. One of the reasons is because of the massive volume of information that overwhelms everyone at every moment, causing people to wall themselves against information. Furthermore, it is getting more difficult to differentiate one product from another. Customers are more active in seeking information rather than passively being bombarded by unwanted information.</p>

		<p>Understanding this, New Media Designers come up with the solution of cross communication. We are armed with the skills to communicate information across media, both new and traditional. We know how to use each medium effectively and creatively, therefore drawing customers' attention and actively stimulating their behavior to lean towards the brand.</p>

	</div>
	
	<h1 class="closed_txt marginleft10"><a href="#">HOW CAN I HELP YOU ?</a></h1>
	<div class="marginleft10 jtext">
  		<p>Currently I am open for all opportunities including career opportunities and freelance projects. I will be happy to provide creative solutions in: Print and Typography design; Web and Interactive design; Motion and Audio design; Photography and Imaging; and any other media.</p>

		<p>These are the creative tools that I can work with: InDesign, Flash, After Effects, Dreamweaver, Illustrator, Photoshop, Cinema 4D, Acrobat Pro, QuarkXPress, Logic Studio, ActionScript, HTML, CSS, PHP, JQuery, MAC OS, PC and many others.</p>

		<p><a href="RichardTirtaWidjaja_resume.pdf">Click here to download my Résumé</a></p>

	</div>
	
	<h1 class="closed_txt marginleft10"><a href="#">TALK WITH ME !</a></h1>
	<div class="marginleft10 jtext">
		<p> Yes! I encourage you to talk to me about anything that you have in your mind right now. Use any of the method below. </p>
		<p><strong>Phone (U.S):</strong> 415.774.6864</p>

		<p><strong>Email:</strong> rt[at]richardtirta[dot]com</p>
	
		<p><strong class="marginright10">Social Network:</strong> <a href="https://www.facebook.com/pages/Richard-Tirta/212357728775613" target="_new"><img class="marginright10" src="assets/img/ui/f_logo.png" width="25" height="25" alt="facebook" ></a> 
		
		<a href="http://www.linkedin.com/pub/richard-widjaja/2b/54b/619" target="_new"><img src="assets/img/ui/linkedin.png" width="25" height="25" alt="linkedin"></a></p>
	
	</div>

  </div>
	
	<div class="right  ">
	<img class="radius" src="assets/img/me.jpg"></div>
</section>