<section class="page " id="intro">
	<div class="left marginleft10" id="intro_text">
	
	<h1 class="kerning">HELLO!</h1>
	<p> I am Richard Tirta Widjaja, a New Media Designer based in San Francisco and Jakarta. I would be happy to cross communicate and visualize creative solutions.</p>
	</div>
	
	<ul class="right marginright10 " id="quicklinks">
		<li><a href="RichardTirtaWidjaja_resume.pdf">Download PDF Résumé</a></li>
	</ul>       
	
	<div class="clear"></div>
	<div class="margintop20 featured">
	<h3>FEATURED WORKS</h3>
	</div>
	<div class="margintop10 darklink">
	
		 <div class="left feature_box border"> <a href="works/pantone.php"><img class="radius" src="assets/img/gallery/pantone/pantone_featured.jpg"></a>
		<div class="feature_text">
		<h6><a href="works/pantone.php"><strong>PANTONE</strong><br/>
		Advertising Campaign</a>
		</h6>
		</div>
		</div>
					
		<div class="left feature_box border"> <a href="works/dts.php"><img class="radius" src="assets/img/gallery/dts/dts_featured.jpg"></a>
		<div class="feature_text">
		<h6><a href="works/dts.php"><strong>DTS Theater</strong><br/>
		Motion Teaser</a>
		</h6>
		</div>
		</div>
		
		 <div class="left feature_box"> <a href="works/frezty.php"><img class="radius" src="assets/img/gallery/frezty/frezty_featured.jpg"></a>
		<div class="feature_text">
		<h6><a href="works/frezty.php"><strong>Frezty Sparkling Organic Tea</strong><br/>
		New Brand Campaign</a>
		</h6>
		</div>
		</div>
		
		<div class="left feature_box border"> <a href="works/statefarm_w.php"><img class="radius" src="assets/img/gallery/statefarm/statefarm_featured.jpg"></a>
		<div class="feature_text">
		<h6><a href="works/statefarm_w.php"><strong>State Farm</strong><br/>
		Rebrand Campaign</a>
		</h6>
		</div>
		</div>
		
		<div class="left feature_box"> <a href="works/batik_keris.php"><img class="radius" src="assets/img/JPEG/featured/slide_02_1.jpg"></a>
		<div class="feature_text">
		<h6><a href="works/batik_keris.php"><strong>Batik Keris</strong><br/>
		Flash Website</a>
		</h6>
		</div>
		</div>
		
	</div>
	<div class="clear"></div>  
</section>