<header>
	<a class="left marginleft20" id="logo" href="index.php"><span>RichardTirta></span></a>

	<div class="right marginright20">
		<div class="alignright"> <br>
			
			<a href="https://www.facebook.com/pages/Richard-Tirta/212357728775613" target="_new"><img class="icon marginright10" src="assets/img/ui/f_logo.png" width="25" height="25" alt="facebook" onmouseout="this.style.opacity=0.3;this.filters.alpha.opacity=30" onmouseover="this.style.opacity=1;this.filters.alpha.opacity=100" ></a> 

			<a href="http://www.linkedin.com/pub/richard-widjaja/2b/54b/619" target="_new"><img class="icon" src="assets/img/ui/linkedin.png" width="25" height="25" alt="linkedin" onmouseout="this.style.opacity=0.3;this.filters.alpha.opacity=30" onmouseover="this.style.opacity=1;this.filters.alpha.opacity=100"></a>

		</div>

		<nav>
			<ul id="nav">
				<li><a href="#web-interactive">WEB + INTERACTIVE</a></li>
				<li>|</li>
				 <li><a href="#graphic-design">GRAPHIC DESIGN</a></li>
				<li>|</li>
				<li><a href="#motion-audio">MOTION + AUDIO</a></li>
				<li>|</li>
				<li><a href="#photography">PHOTOGRAPHY</a></li>
				<li>|</li>
				<li><a href="#about">ABOUT</a></li>
			</ul>
		</nav>
	</div>

	<div class="clear"></div>
</header>