<div id="container">

	<%= partial "app/partials/views/structure/modules/intro" %>

		<p class="to_top"><a href="index.php">back to top</a></p>
		  
	<div class="long_page darklink">
	<div class="featured" id="web-interactive">
			<h3>WEB + INTERACTIVE</h3>
	</div>
	<section class="long_page" id="web-interactive-load">
	</section>
	</div>
	<p class="to_top"><a href="index.php">back to top</a></p>

	<div class="long_page darklink">
	<div class=" featured" id="graphic-design">
			<h3>GRAPHIC DESIGN</h3>
	</div>
	<section id="graphic-design-load">
	</section>
	</div>
	<p class="to_top"><a href="index.php">back to top</a></p>

	<div class="page darklink">
	<div class=" featured" id="motion-audio">
			<h3>MOTION + AUDIO</h3>
	</div>
	<section class="page" id="motion-audio-load">
	</section>
	</div>
	<p class="to_top"><a href="index.php">back to top</a></p>

	<div class="page darklink">
	<div class=" featured" id="photography">
			<h3>PHOTOGRAPHY</h3>
	</div>
	<section class="page darklink" id="photography-load">
	</section>
	</div>

	<p class="to_top"><a href="index.php">back to top</a></p>

	<%= partial "app/partials/views/structure/modules/about" %>
		
	<div class="clear"></div>

</div>