       
        <div class=" margintop10">
        <div class="left category_caption radiusleft">
        <p class="marginleft10 margintop10"><a href="works/pantone.php"><strong>PANTONE</strong><br/>
        Advertising Campaign</a></p>
        </div>
        <a class="left" href="works/pantone.php"><img class="radiusright" src="assets/img/gallery/pantone/pantone.jpg"></a>
        <div class="clear"></div>
        </div>
        
        <div class=" margintop10">
        <div class="left category_caption radiusleft">
        <p class="marginleft10 margintop10"><a href="works/frezty.php"><strong>Frezty Sparkling Organic Tea</strong><br/>
        Branding Campaign</a></p>
        </div>
        <a class="left" href="works/frezty.php"><img class="radiusright" src="assets/img/gallery/frezty/frezty.jpg"></a>
        <div class="clear"></div>
        </div>
        
        <div class=" margintop10">
        <div class="left category_caption radiusleft">
        <p class="marginleft10 margintop10"><a href="works/statefarm_g.php"><strong>State Farm</strong><br/>
        Rebrand Campaign</a></p>
        </div>
        <a class="left" href="works/statefarm_g.php"><img class="radiusright border" src="assets/img/gallery/statefarm/statefarm_print.jpg"></a>
        <div class="clear"></div>
        </div>
        
        <div class=" margintop10">
        <div class="left category_caption radiusleft">
        <p class="marginleft10 margintop10"><a href="works/type.php"><strong>Things Designer Should Know</strong><br/>
        Typography Showcase</a></p>
        </div>
        <a class="left" href="works/type.php"><img class="radiusright" src="assets/img/gallery/type/type.jpg"></a>
        <div class="clear"></div>
        </div>
        
        <div class=" margintop10">
        <div class="left category_caption radiusleft">
        <p class="marginleft10 margintop10"><a href="works/1776.php"><strong>The Seventeen Seventy Six Typeface</strong><br/>
        Typography Showcase</a></p>
        </div>
        <a class="left" href="works/1776.php"><img class="radiusright" src="assets/img/gallery/1776/1776.jpg"></a>
        <div class="clear"></div>
        </div>
        
        <div class="clear"></div>
        
        