
        
        <div class=" margintop10">
        <div class="left category_caption radiusleft">
        <p class="marginleft10 margintop10"><a href="works/venus.php"><strong>The Birth of Venus</strong><br/>
        Photo Book</a></p>
        </div>
        <a class="left" href="works/venus.php"><img class="radiusright" src="assets/img/gallery/photo/venus.jpg"></a>
        <div class="clear"></div>
        </div>
        
        <div class=" margintop10">
        <div class="left category_caption radiusleft">
        <p class="marginleft10 margintop10"><a href="works/overseas.php"><strong>The Overseas</strong><br/>
        Photography Compilation</a></p>
        </div>
        <a class="left" href="works/overseas.php"><img class="radiusright" src="assets/img/gallery/overseas/overseas.jpg"></a>
        <div class="clear"></div>
        </div>
        
        <div class="clear"></div>
        
        <div class=" margintop10">
        <div class="left category_caption radiusleft">
        <p class="marginleft10 margintop10"><a href="works/homeland.php"><strong>Tanah Air (The Homeland)</strong><br/>
        Photography Compilation</a></p>
        </div>
        <a class="left" href="works/homeland.php"><img class="radiusright" src="assets/img/gallery/homeland/homeland.jpg"></a>
        <div class="clear"></div>
        </div>
        
        <div class=" margintop10">
        <div class="left category_caption radiusleft">
        <p class="marginleft10 margintop10"><a href="works/corning.php"><strong>CORNING</strong><br/>
        Digital Imaging Project</a></p>
        </div>
        <a class="left" href="works/corning.php"><img class="radiusright" src="assets/img/gallery/photo/corning.jpg"></a>
        <div class="clear"></div>
        </div>
        
        
        
        