
        
        <div class=" margintop10">
        <div class="left category_caption radiusleft">
        <p class="marginleft10 margintop10"><a href="works/batik_keris.php"><strong>Batik Keris</strong><br/>
        Flash Website</a></p>
        </div>
        <a class="left" href="works/batik_keris.php"><img class="radiusright" src="assets/img/gallery/batik/batik.jpg"></a>
        <div class="clear"></div>
        </div>
        
        <div class=" margintop10">
        <div class="left category_caption radiusleft">
        <p class="marginleft10 margintop10"><a href="works/statefarm_w.php"><strong>State Farm</strong><br/>
        Rebrand Campaign</a></p>
        </div>
        <a class="left" href="works/statefarm_w.php"><img class="radiusright border" src="assets/img/gallery/statefarm/statefarm_web.jpg"></a>
        <div class="clear"></div>
        </div>
        
        <div class=" margintop10">
        <div class="left category_caption radiusleft">
        <p class="marginleft10 margintop10"><a href="works/simplybooks.php"><strong>Simplybooks</strong><br/>
        eCommerce Website</a></p>
        </div>
        <a class="left" href="works/simplybooks.php"><img class="radiusright" src="assets/img/gallery/simplybooks/simplybooks.jpg"></a>
        <div class="clear"></div>
        </div>
        
        <div class=" margintop10">
        <div class="left category_caption radiusleft">
        <p class="marginleft10 margintop10"><a href="works/workshop.php"><strong>The WORKSHOP Burgers</strong><br/>
        Website</a></p>
        </div>
        <a class="left" href="works/workshop.php"><img class="radiusright" src="assets/img/gallery/workshop/workshop.jpg"></a>
        <div class="clear"></div>
        </div>
        
        <div class=" margintop10">
        <div class="left category_caption radiusleft">
        <p class="marginleft10 margintop10"><a href="works/redcliff.php"><strong>Red Cliff</strong><br/>
        Flash Website</a></p>
        </div>
        <a class="left" href="works/redcliff.php"><img class="radiusright" src="assets/img/gallery/redcliff/redcliff.jpg"></a>
        <div class="clear"></div>
        </div>
                              
        <div class="clear"></div>
        
        